<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<!-- Connection strings -->
		<add name="MessageBus-db" connectionString="--REDACTED--" providerName="System.Data.SqlClient" />
		<add name="logary-logging-db" connectionString="--REDACTED--" providerName="System.Data.SqlClient" />
		<add name="dblive-db" connectionString="--REDACTED--" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
		<appSettings>
			<add key="XmlPath" value="C:\Dev\FSP\BTS\Source\DealSoft\DotNet\V2\Vs\DNS.root\DNS\Web\xml" />
			
			<!-- Person files -->
			<add key="PersonXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Person\xml_template.xml" />
			<add key="mappingFilePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Person\mapping.txt" />
			<add key="FSP_Value_Mapper_Path" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Person\FSP_Value_Mapper.xml" />

			<!-- Motor files -->
			<add key="MotorXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\MV_Template.xml" />
			<add key="MotorNSAXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\FSP_Values_MotorNSA_Mapper.xml" />

			<add key="MotorMapping" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\VehicleMapping.txt" />
			<add key="MotorMappingNSA" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\VehicleMapping_NSA.txt" />
			
			<add key="FSP_Values_Motor_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\FSP_Values_Motor_Mapper.xml" />
			<add key="FSP_Values_MotorNSA_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\FSP_Values_MotorNSA_Mapper.xml" />

			<!-- Caravan files -->
			<add key="CaravanXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Caravan\caravan_Template.xml" />
			<add key="CaravanMapping" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Caravan\CaravanMapping.txt" />
			<add key="FSP_Values_Caravan_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Caravan\FSP_Values_Caravan_Mapper.xml" />

			<!-- Trailer files -->
			<add key="TrailerXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Trailer\trailer_Template.xml" />
			<add key="TrailerMapping" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Trailer\TrailerMapping.txt" />
			<add key="FSP_Values_Trailer_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Trailer\FSP_Values_Trailer_Mapper.xml" />

			<!-- All Risks files -->
			<add key="AllRiskXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\All Risks\All Risks_XML_Template.xml" />
			<add key="AllRiskMapping" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\All Risks\AllRisk_Mapping.txt" />
			<add key="FSP_Values_AllRisks_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\All Risks\FSP_Values_AllRisks_Mapper.xml" />

			<!-- Buildings -->
			<add key="Buildings_XML_TemplatePath"	value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Buildings\Buildings_XML_Template.xml" />
			<add key="BuildingsMapping"				value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Buildings\BuildingsMapping.txt" />
			<add key="FSP_Values_Buildings_Mapper"	value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Buildings\FSP_Values_Buildings_Mapper.xml" />

			<!-- House HoldContent -->
			<add key="HouseHoldContentTemplatePath"	value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\HouseHoldContents\HouseHoldContentTemplatePath.xml" />
			<add key="HouseHoldContentMapping"				value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\HouseHoldContents\HouseHoldContentMapping.txt" />
			<add key="FSP_Values_HouseHoldContent_Mapper"	value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\HouseHoldContents\FSP_Values_HouseHoldContent_Mapper.xml" />


			<!-- Motor files -->
			<add key="MotorCycle_TemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\MotorCycles\MotorCycle_Template.xml" />
			<add key="MotorNSAXmlTemplatePath" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\MotorCycles\FSP_Values_MotorNSA_Mapper.xml" />

			<add key="MotorcycleMapping" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\MotorCycles\MotorcycleMapping.txt" />
			<add key="MotorMappingNSA" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\MotorCycles\VehicleMapping_NSA.txt" />

			<add key="FSP_Values_MotorCycle_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\Motorvehicle\FSP_Values_Motor_Mapper.xml" />
			<add key="FSP_Values_MotorNSA_Mapper" value="C:\Dev\FSP\Integration\Integration_Central\General_Lead_import\QuoteManager\Templates\MotorCycles\FSP_Values_MotorNSA_Mapper.xml" />


			<!-- DashBoard integration-->
			<add key="TaskID" value="35" />
			<add key="Shutdown.Cron" value="0 0 21 * * ?" />
			
			
			
			
			<!-- Broker1  Configuration -->
			<add key="Broker1.Enabled" value="true" />
			<add key="Broker1.Cron" value="0/30 * * * * ?" />
			<add key="Broker1.SftpHost" value="sftp.broker1.com" />
			<add key="Broker1.SftpPort" value="22" />
			<add key="Broker1.SftpUsername" value="broker1user" />
			<add key="Broker1.SftpPassword" value="broker1password" />
			<add key="Broker1.RemoteDirectory" value="/files" />
			<add key="Broker1.LocalDirectory" value="C:\Users\Peter Ernie\Desktop\Samples2024\Samples2024\" />
			<add key="Broker1.LocalProcessingDirectory" value="C:\Users\Peter Ernie\Desktop\Samples2024\inProcess\" />
			<add key="Broker1.LocalArchiveDirectory" value="C:\Users\Peter Ernie\Desktop\Samples2024\Archive\" />

			<!-- Broker2  Configuration -->
			<add key="Broker2.Enabled" value="false" />
			<add key="Broker2.Cron" value="0 0/1 * 1/1 * ? *" />
			<add key="Broker2.SftpHost" value="sftp.broker2.com" />
			<add key="Broker2.SftpPort" value="22" />
			<add key="Broker2.SftpUsername" value="broker2user" />
			<add key="Broker2.SftpPassword" value="broker2password" />
			<add key="Broker2.RemoteDirectory" value="/data" />
			<add key="Broker2.LocalDirectory" value="C:\Broker2Files\" />
			<add key="Broker1.LocalProcessingDirectory" value="C:\Users\Peter Ernie\Desktop\Samples2024\inProcess\" />
		</appSettings>
		
	
  <runtime>
		
	
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		
	
                <dependentAssembly>
		
	
                       <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		
	
                       <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
		
	
                </dependentAssembly>
		
	
                <dependentAssembly>
		
	
                       <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
		
	
                       <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
		
	
                </dependentAssembly>
		
	
                <dependentAssembly>
		
	
                       <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		
	
                       <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
		
	
                </dependentAssembly>
		
	
                <dependentAssembly>
		
	
                       <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		
	
                       <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
		
	
                </dependentAssembly>
		
	
         </assemblyBinding>
		
	
  </runtime>
</configuration>